
<%= form_with model: @hotel, :html => {:multipart => true}, local: true do |form| %>
 
  
  <div class="form-border">
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    
    <p>
	    <%= form.label :breakf %><br>
	    <%= form.radio_button :breakf, true, :checked => true %>yes
	    <%= form.radio_button :breakf, false %>no
	</p>
	


    <p>
    	<%= form.label :star, 'Level of hotel' %><br>
    	<%= form.select(:star, options_for_select([['1 star', 2],['2 star', 3],['3 star', 4],['4 star', 5],['5 star', 6],])) %>
    </p>


  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :descr %>
  </p>

  <p>
    <%= form.file_field :photo %>   
  </p>
 
  <p>
    <%= form.label 'Country:' %><br>
    <%= form.text_field :addr1 %>
  </p>

  <p>
    <%= form.label 'State: ' %><br>
    <%= form.text_field :addr2 %>
  </p>

  <p>
    <%= form.label 'City: ' %><br>
    <%= form.text_field :addr3 %>
  </p>

  <p>
    <%= form.label 'Street: ' %><br>
    <%= form.text_field :addr4 %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>  
  </p>
  <div>
    <%= form.submit "Create Hotel", :class=> "dis-but-grey", :disabled => true %>
  </div>

  </div>
  <% if @hotel.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@hotel.errors.count, "error") %> prohibited
      this hotel from being saved:
    </h2>
    <ul>
      <% @hotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
<% end %>
