<%= render 'welcome/menu' %>
<div class="container">
		<% if user_signed_in?%>
		<h2>New Hotel </h2>
	
		<%= render 'form' %>
		<% else %>
			<%= render 'welcome/needSignIn' %>
		<% end %> 

		<%= link_to 'Back', hotels_path %>
	
</div>
<%= render 'welcome/footer' %>