
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<%= render 'welcome/menu' %>

<div class = "big_banner">
<h2 align="center" style="padding-top: 3%"><%= @hotel.name %> </h2>
  <div class = "hotel" style="margin-top: 3%">
    <section id="big_img">
      <article>
        <a>
          <figure>
            <%= image_tag @hotel.photo_url().to_s%>
            <figcaption>
              <header> User rate </header>
              <div class="fix-text" style="margin-top: 20px">
              <img src="/images/star.png">
          <h4><%= @hotel.rate %></h4>
          </div>
          <div class="fix-text" style="margin-top: 2vw; margin-left: 15vw">
          <% if @hotel.breakf == "true"%>
          <h3>Breakf: Yes</h3>
          <%else%>
          <h3>Breakfast: No</h3>
          <%end%>
          <h3>hotel level: <%= @hotel.star %></h3>
       </div>
       <div>
       <h3 style="margin-top: 12vw; margin-left: -1vw">Description: </h3>

       </div>
       <div class="d">
       <%= @hotel.descr %>
       </div>
            </figcaption>
          </figure>
        </a>
      </article>
    </section>
        <div class="fix-text-show">
        <div class="clearfix">
        <% if user_signed_in? %>
         <h2>Add a comment:</h2>
         <%= form_with(model: [ @hotel, @hotel.reviews.build ], local: true) do |form| %>
         <p>
         <%= form.label :name, 'Write your name' %><br>
         <%= form.text_field :name %>
         </p>
         <p>
          <%= form.label :descr, 'Write your comment' %><br>
          <%= form.text_area :descr %>
        </p>
      <p>
      <%= form.label :rate, 'Level of hotel' %><br>
</p>
<fieldset class="rating">
    <legend>Please rate:</legend>
     <%= form.radio_button :rate, 5, :class => "rating", :id => "star5"%><label for="star5" title="Excelent!">5 stars</label>
     <%= form.radio_button :rate, 4, :class => "rating", :id => "star4"%><label for="star4" title="Good">4 stars</label>
     <%= form.radio_button :rate, 3, :class => "rating", :id => "star3"%><label for="star3" title="normal">3 stars</label>
     <%= form.radio_button :rate, 2, :class => "rating", :id => "star2"%><label for="star2" title="bad">2 stars</label>
     <%= form.radio_button :rate, 1, :class => "rating", :id => "star1"%><label for="star1" title="Very bad">1 star</label>

</fieldset>
<div style="margin-top: 90px">
      </p><br>
      <p>
      <div class="g-recaptcha" data-sitekey="6LcaF2IUAAAAAPR1Kq6Grr6CbcdhEBg5puLJB8V1"></div>
      </p>
</div>

<div class="nice-hrefs"> 
<p><%= link_to 'Back', hotels_path %></p>
<p><%= form.submit %></p>
</div>
<% end %>
<%else%>
<h2>Please sign in for review this hotel</h2>
<%end%>
</div>

</div>
</div>


</div>
     <div style="margin-top: 2vw; margin-left: 15vw; height: 100%">
    <% if @hotel.reviews.count === 0 %>

    <h2>No reviews</h2>
  <%else%>

    <h2>Reviews</h2>
<%end%>
</div>

  <% @hotel.reviews.each do |r| %>
  <div class="comment">
  <p>
    <strong>Commenter:</strong>
    <%= r.name %>
  </p>
  <p>
    <strong>Rate:</strong>
    <% if r.rate == 5%>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <%end%>
          <% if r.rate == 4%>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <%end%>
          <% if r.rate == 3%>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <%end%>
          <% if r.rate == 2%>
             <a><img src="/images/mini_star.png"></a>
             <a><img src="/images/mini_star.png"></a>
             <%end%>
          <% if r.rate == 1%>
             <a><img src="/images/mini_star.png"></a>
             <%end%>
  </p>
  <p>
    <strong>Description:</strong>
    <%= r.descr %>
  </p>
</div>
<% end %>

<%= render 'welcome/footer' %>